body {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
  }
  
  a {
    color: #b71414;
    text-decoration: none;
    text-align: center;
  }
  
  a:hover {
    color: #040102;
    text-decoration: none;
  }
  
  /* Hero Style */
  #hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    position: relative;
  }
  
  #hero .container {
    padding-top: 0px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    color: #ee0808;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 18px;
  }
body {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

/* Hero Style */
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background: url("../img/hero-bg.jpg") top center; */
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 0px;
}

#hero h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  color: #2487ce;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 18px;
}
  